<nav>
    <ul>
        <li><a href="/">HOME</a> </li>
        <li><a href="/contacts?name=chandler&dept=friends&email=chandler@bing.com">CONTACT</a> </li>
        <li><a href="/help">HELP</a> </li>
    </ul>
</nav>