<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>CONTACT US</h1>
    <p>Contact the coolest web developers on the planet</p>
    <!-- http://127.0.0.1:8002/contacts?name=chandler&dept=friends&email=chandler@bing.com -->
    <form id="con-form">
        <label for="who">Contact Person?</label>
        <br>
        <input type="text" name="who" value="<%= qs.name%>">
        <br>
        <label for="department">Department?</label>
        <br>
        <input type="text" name="department" value="<%= qs.dept%>">
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email" value="<%= qs.email%>">


    </form>﻿

    </body>
</html>