<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>HELP</h1>
    <p>HAPPY TO HELP</p>
    <p><%= data.who%> <%=data.department%></p>
</body>
</html>