<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Welcome The Most Awsome website on the net</h1>
    <p>You Won't find anything Better than this</p>
</body>
</html>

